PORT=3000
REDIS_PORT=6379
REDIS_URL="redis://redis:${REDIS_PORT}"
TARGET_API_PORT=4000
TARGET_API_URL="http://target-api:${TARGET_API_PORT}"
BUCKET_PREFIX="rate_limiter"

# 24 hour
API_KEY_TTL=86400

# per-IP mint limit
MINT_LIMIT_PER_HOUR=5

# max active keys per IP
MAX_KEYS_PER_IP=5